<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RESTAPI Testing">
    <test verbose="2" preserve-order="true" name="Products">
        <classes>
            <class name="tests.products.GetProductsTest">
                <!--methods><include name="getUsersById"/><include name="getUsers"/></methods-->
            </class>

        </classes>
    </test>
    <test name="Users" preserve-order="true" verbose="2" parallel="classes">
        <classes><class name="tests.users.GetUsersTest"></class></classes>
    </test>
</suite>