<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RESTAPI Testing">
    <test verbose="2" preserve-order="true" name="Fakestore Testing">
        <packages>
            <package name="tests.*">
                <!--methods><include name="getUsersById"/><include name="getUsers"/></methods-->
            </package>

        </packages></test>
</suite>