<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Testing">
    <test verbose="2" preserve-order="true" name="RestAssured Testing">
        <classes>
            <class name="tests.Products">
                <!--methods><include name="getUsersById"/><include name="getUsers"/></methods-->
            </class>
            <class name="tests.Users">
                <!--methods><include name="getUsersById"/><include name="getUsers"/></methods-->
            </class>
        </classes>
    </test>
</suite>